name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        env:
          AppOptions__JwtSecret: ${{ secrets.APP_JWT_SECRET }}
          AppOptions__Db:       ${{ secrets.NEON_CONN_STRING }}
        run: dotnet build --configuration Release --no-restore

      - name: Test
        env:
          AppOptions__JwtSecret: ${{ secrets.APP_JWT_SECRET }}
          AppOptions__Db:       ${{ secrets.NEON_CONN_STRING }}
          DOTNET_ROLL_FORWARD: Major
        run: dotnet test --configuration Release --no-build --logger "trx;LogFileName=test-results.trx"
